<section class="episodes" ...attributes>

  <h2 class="episodes_title font-office">Episodes</h2>

  <ol class="seasons-list">
    {{#each this.args.seasons as |season|}}
      <li class="season">

        <span class="season_name">Saison {{season.number}}</span>

        <ol class="episodes-list">
          {{#each season.episodes as |episode|}}
            <Episode @episode={{episode}} @seasonNumber={{season.number}}/>
          {{/each}}
        </ol>

      </li>
    {{/each}}
  </ol>

</section>
