<tr
  class="episode-button text-size-normal cursor-pointer{{if this.isSelected " selected"}}"
  role="select-episode"
  ...attributes
>
  <td class="episode-button_selected">â—</td>
  <td class="episode-button_number">{{@episode.number}}</td>
  <td class="episode-button_name">{{@episode.name}}</td>
</tr>
