<section class="intro">

  <div
    class="intro_titles cursor-pointer"
    onClick={{action this.toggleIsExpanded}}
    role="button"
  >
    <h2 class="intro_title font-office">Intro</h2>
    <span class="intro_action-show-intro">
      {{#if this.isExpanded}}
        Masquer l'intro
      {{else}}
        Afficher l'intro
      {{/if}}
    </span>
  </div>

  {{#liquid-spacer growDuration=400}}
    {{#if this.isExpanded}}
      <div class="intro_content">

        <h3 class="font-office">Pourquoi ce site ?</h3>
        <p class="intro_content_text">
          J'adore la série "The Office" et aussi la faire découvrir.
          Malheureusement trouver un site pas compliqué avec une bonne qualité vidéo/audio et une piste de sous titres VOSTFR c'est pas si simple à dénicher. Avec cette page ce sera plus simple.
        </p>

        <h3 class="font-office">Comment ça fonctionne ?</h3>
        <p class="intro_content_text">
          Ce site est juste un page avec les épisodes visionnables en direct et les pistes des sous titres à réintégrer dans les vidéos (les instructions sont présentes sous le lecteur).
        </p>

        <h3 class="font-office">C'est quoi cette série ?</h3>
        <p class="intro_content_text">
          Cette partie est très importante à lire si vous commencez la série.
        </p>
        <p class="intro_content_text">
          The Office c'est un "mockumentary", C'est à dire une oeuvre de fiction / comédie tournée avec les codes d'un documentaire.
          On y suit le quotidien des employés de Dundler Mifflin, une entreprise de distribution de papier.
        </p>
        <p class="intro_content_text">
          La série a bien marché en Grande Bretagne (2 saisons) et a connue des déclinaisons locales: France, Allemagne, Quebec... et US.
          La version US a brillement réussi à dépasser sa série source en installant son propre humour et personnages, pour atteindre 9 saisons.
        </p>
        <p class="intro_content_text">
          C'est là le point délicat pour les nouveaux: sur la première saison (heureusement courte, 6 épisodes), les épisodes sont avant tout la transcription des versions anglaises et en concervent l'humour noir assez acide.
          La série fait rire, choque, mais, marquée d'un certain pessimisme, peut décourager. Ce n'est pas représentatif du reste de la série.
        </p>
        <p class="intro_content_text">
          A partir de la saison 2 l'écriture US s'affranchit du matériau de base et devient plus optimisme tant dans sa morale que sur le fond de ses personnages.
        </p>
        <p class="intro_content_text">
          TLDR: si vous découvrez, allez jusqu'au premiers épisodes de la saison 2 pour vous faire un avis définitif !
        </p>

        <h3 class="font-office">Qui suis-je ?</h3>
        <p class="intro_content_text">
          Je suis juste un developeur (mon métier est de coder de programmes / sites web) amateur de la serie. Ce site est sans prétention et destination de ma famille et de mes amis.
          Si vous je ne vous connais pas personellement et que vous êtes de passage ici, bienvenue à vous également !
        </p>
      </div>
    {{/if}}
  {{/liquid-spacer}}

</section>
