@import 'lib/bootstrap';
@import 'lib/mixins';
@import 'lib/rem-scale';
@import 'lib/texts';

@import 'config/colors';
@import 'config/fonts';

html,
body {
  box-sizing: border-box;
  font-family: Merriweather;
  font-weight: 400;
  min-height: 100%;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Composition classes

.font-office {
  font-family: SpecialElite;
}

.font-weight-bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.margin-b-0 {
  margin-bottom: 0;
}

//

.the-office-vostfr-site {
  background: $bg-color url('/images/group_photo.jpg') no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 5.2rem;
  padding-top: 12.8rem;
}

.site-header-container {
  margin-bottom: 1.6rem;
}

.site-header {
  background-color: $true-black;
  border-radius: .4rem;
  color: $white;
  padding: 2.4rem 3.2rem 1.2rem;
}

.site-title,
.site-subtitle {
  text-align: center;
}

.site-header-container_link {
  &:hover .site-header {
    background-color: $white;
    color: $true-black;
  }
}

.site-main-container {
  margin-bottom: .4rem;
}

//

.page-links {
  margin-top: -.8rem;
}

.page-link-container {
  display: inline-block;
  padding: .8rem 5.2rem;

  &:hover .page-link {
    background-color: $white;
    color: $true-black;
  }
}

.page-link {
  background-color: $true-black;
  border-radius: .4rem;
  color: $white;
  display: inline-block;
  padding: .4rem 1.2rem;
  text-align: center;
}

//

.site-main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

//

.text-page {
  background-color: $white;
  border-radius: .4rem;
  padding: 1.6rem 2rem 0;
  text-align: center;
}

.text-page_paragraph {
  margin-bottom: 2.4rem;
}

.text-page_title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.text-page_title {
  background-color: $true-black;
  border-radius: .4rem;
  color: $white;
  padding: 1rem 1.2rem .4rem;
}

.text-page_text {
  margin-bottom: 1.6rem;
}

.text-page_external-link {
  background-color: $blue-700;
  border-radius: .4rem;
  color: $white;
  padding: .4rem .8rem;
  white-space: nowrap;

  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  &:hover {
    background-color: $blue-500;
    color: $white;
  }
}

//

.episodes-selection {
  background-color: $deep-blue;
  border-radius: .4rem;
  color: $white;
  margin-bottom: 2rem;
  padding: 1.2rem 2rem 2.4rem;
}

.seasons-list {
  margin-bottom: .8rem;
  margin-top: 1.6rem;
}

.season-button {
  align-items: center;
  background-color: transparent;
  color: $white;
  display: inline-flex;
  height: 3.6rem;
  justify-content: center;
  margin-bottom: .4rem;
  padding: 0;
  width: 4rem;

  &.selected {
    border: .1rem solid $white;
  }

  &:hover {
    border: .1rem solid $white;
  }
}

.episodes-list {
  color: $white;
  margin-left: -.4rem;

  &:hover {
    color: lighten($deep-blue, 60%);
  }
}

.episode-button {
  background-color: transparent;

  &:hover,
  &.selected {
    color: $white;

    .episode-button_selected {
      visibility: visible;
    }
  }

  &.selected .episode-button_selected {
    color: lighten($deep-blue, 60%);
  }
}

.episode-button_selected,
.episode-button_number,
.episode-button_name {
  padding: 0 .4rem;
  vertical-align: top;
}

.episode-button_selected {
  padding: 0;
  visibility: hidden;
}

.episode-button_number {
  text-align: right;
}

//

.selected-epidsodes-header {
  background-color: $deep-blue;
  border-radius: .4rem;
  color: $grey-300;
  margin-bottom: 2rem;
  padding: 1.2rem 2rem;
}

.selected-epidsodes-header_title {
  display: inline-block;
}

.selected-epidsodes-header_count {
  margin-left: .4rem;
}

//

.episode-player {
  background-color: $white;
  border-radius: .4rem;
  color: $true-black;
  margin-bottom: 2rem;
  position: relative;
}

.episode-player_main {
  padding: 1.2rem 2rem 1.6rem;
}

.episode-player_actions {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.episode-player_action {
  align-items: center;
  color: $true-black;
  display: flex;
  justify-content: center;

  &.action-close {
    height: 4.4rem;
    padding: 1.2rem;
    padding-left: .8rem;
    width: 4rem;
  }

  &.action-help {
    height: 4.4rem;
    padding: 1.2rem .4rem;
    width: 3.6rem;
  }
}

.episode-player_iframe {
  background-color: $grey-900;
  height: 27rem;
  margin-bottom: .8rem;
  max-width: 100%;
  width: 48rem;
}

.copy-box {
  max-width: 48rem;
}

.copy-box_input {
  border: .1rem solid $grey-800;
  border-bottom-left-radius: .4rem;
  border-right: 0;
  border-top-left-radius: .4rem;
  color: $true-black;
  overflow: hidden;
  padding: .2rem .8rem;
  text-overflow: ellipsis;
}

.copy-box_button-copy {
  background-color: $true-black;
  border: .1rem solid $true-black;
  color: $white;
  padding: .2rem .8rem;
  white-space: nowrap;

  &:hover {
    background-color: lighten($true-black, 10%);
  }
}

.copy-box_button-help {
  background-color: darken($blue-700, 20%);
  border: .1rem solid $true-black;
  border-bottom-right-radius: .4rem;
  border-left: 0;
  border-top-right-radius: .4rem;
  color: $white;
  padding: .2rem .8rem;

  &:hover {
    background-color: darken($blue-500, 20%);
  }
}

.episode-player_help {
  background-color: $blue-200;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  padding: 2rem;
}

.help-instructions {
  color: $true-black;
}

.help-instructions_line {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

.help-instructions_subtitles-caption {
  height: 2.4rem;
  margin-left: .8rem;
}

.help-instructions_link {
  color: $blue-900;
  font-weight: bold;
}
