@import 'lib/bootstrap';
@import 'lib/mixins';
@import 'lib/rem_scale';
@import 'lib/texts';

@import 'config/colors';
@import 'config/fonts';

html,
body {
  box-sizing: border-box;
  color: $grey-900;
  font-family: Merriweather;
  font-weight: 400;
  min-height: 100%;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

//

.font-office {
  font-family: SpecialElite;
}

.cursor-pointer {
  cursor: pointer;
}

//

.the-office-vostfr-site {
  background: $bg-color url('/images/group_photo.jpg') no-repeat center top;
  background-size: 100%;
  padding-bottom: 5.2rem;
  padding-top: 16rem;
}

.content {
  background-color: $white;
  border-radius: .4rem;
  box-shadow: transparentize($true-black, .8) 0 .4rem 2rem .2rem;
}

.site-header {
  background-color: $true-black;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  color: $white;
  padding: 4rem 5.2rem 2rem;
}

.site-main {
  padding: 2.8rem 5.2rem 2.4rem;
}

//

.intro_content {
  margin-bottom: 3.2rem;
}

.intro_titles {
  margin-bottom: 2rem;
  padding-bottom: .4rem;
  padding-top: .4rem;

  &:hover {
    .intro_action-show-intro {
      display: inline-block;
    }
  }
}

.intro_title {
  display: inline-block;
  margin: 0;
}

.intro_action-show-intro {
  color: $blue-700;
  display: none;
  padding-left: .8rem;
  padding-right: .8rem;
}

.intro_content_text {
  margin-bottom: 2rem;
}

//

.episodes_title {
  margin-bottom: 1.2rem;
}

.season_name {
  font-weight: 600;
}

.season {
  margin-bottom: 1.2rem;
}

//

.episode.-is-expanded {
  margin-bottom: 2.4rem;
  padding-top: .8rem;

  .episode_title {
    color: $blue-700;
  }

  .episode_iframe {
    margin-bottom: 2rem;
    margin-top: 1.6rem;
  }
}

.episode_action-show {
  color: $blue-700;
  display: none;
  padding-left: .4rem;
  padding-right: .4rem;
}

.episode_titles:hover .episode_action-show {
  display: inline-block;
}

.episode_iframe {
  background-color: $grey-700;
  height: 36rem;
  max-width: 100%;
  width: 64rem;
}

//

.copy_input {
  border: 1px solid $grey-400;
  border-bottom-left-radius: .4rem;
  border-right: 0;
  border-top-left-radius: .4rem;
  box-shadow: inset 0 .1rem .2rem $grey-300;
  margin-left: .4rem;
  padding: 0 .8rem;
}

.copy_block {
  display: inline-flex;
}

.copy_button-copy {
  background-color: $grey-200;
  border: 1px solid $grey-400;
  border-bottom-right-radius: .4rem;
  border-top-right-radius: .4rem;
  box-shadow: inset -.1rem -.1rem .2rem $grey-300;
  color: $grey-600;
  padding: .1rem .8rem 0;

  &:hover {
    color: $blue-700;
  }

  &.-link-copied {
    color: $blue-700;
  }
}
