<header class="site-header d-flex flex-column align-items-center">
  <h1 class="site-title font-size-huge font-office">
    The Office (US) VOSTFR
  </h1>
  <h2 class="site-subtitle font-size-normal">
    Un site pour regarder la série "The Office" (US) en version originale sous titré français
  </h2>
</header>
