<nav class="page-links d-flex flex-column align-items-center font-size-large">
  <a href="#/episodes" class="page-link-container cursor-pointer">
    <div class="page-link">
      Regarder les épisodes
    </div>
  </a>

  <a href="#/about-show" class="page-link-container cursor-pointer">
    <div class="page-link">
      A propos de la série
    </div>
  </a>

  <a href="#/about-site" class="page-link-container cursor-pointer">
    <div class="page-link">
      A propos du site
    </div>
  </a>
</nav>
