<div class="site-main">
  <div class="text-page col-8">

    <TextPageTitle>Pourquoi ce site ?</TextPageTitle>
    <TextPageText>
      J'adore la série "The Office" et aussi la faire découvrir.
    </TextPageText>
    <TextPageText>
      Malheureusement trouver un site pas compliqué pour la regarder depuis le web, avec une bonne qualité vidéo/audio et une piste de sous titres française n'est pas si simple à trouver.
    </TextPageText>
    <TextPageText>
      Ce site est juste fait pour ça.
    </TextPageText>

    <TextPageTitle>Comment ça fonctionne ?</TextPageTitle>
    <TextPageText>
      Ce site est un ensemble de pages avec les épisodes visionnables en direct et les pistes des sous titres correspondant à réintégrer dans les vidéos (les instructions sont présentes sous chaque lecteur).
    </TextPageText>

    <TextPageTitle>Qui suis-je ?</TextPageTitle>
    <TextPageText>
      Je suis developeur (mon métier est de fabriquer de programmes et des sites web) amateur de la serie. Ce site sans prétention est destination première de ma famille ou de mes amis.
    </TextPageText>
    <TextPageText>
      Si vous je ne vous connais pas personellement et que vous êtes de passage ici, bienvenue à vous également !
    </TextPageText>

    <TextPageText>
      Pour les curieux, voici:
    </TextPageText>

    <TextPageText class="d-flex flex-column align-items-center">
      <a class="text-page_external-link" href="https://fr.linkedin.com/in/sol-pieropan-534399159">
        Mon profil Linkedin
      </a>
      <a class="text-page_external-link" href="https://github.com/SolPier/the-office">
        Le code source de ce site
      </a>
    </TextPageText>

  </div>
</div>
