  <tr class="episode-button text-size-normal cursor-pointer" role="select-episode">
    <td class="episode-button_selected">â—</td>
    <td class="episode-button_number">{{@episode.number}}</td>
    <td class="episode-button_name">{{@episode.name}}</td>
  </tr>
