<ol class="help-instructions text-size-tiny">
  <li class="help-instruction_line">
    ➤ <strong>Une fois le lien des sous titres copié</strong>, lancez la vidéo et mettez en pause.
  </li>
  <li class="help-instruction_line">
    ➤ Dans le lecteur video, vous pouvez rajouter un piste de sous titres, via le bouton
    <img
      class="help-instructions_subtitles-caption"
      src="/images/subtitles_caption.png"
      alt="button caption"
    >
  </li>
  <li class="help-instruction_line">➤ Choisissez "load srt/vtt from url" et copiez le lien dans la popup.</li>
  <li class="help-instruction_line">➤ C'est terminé, vous pouvez lancer l'épisode qui est maintenant sous titré en français.</li>
  <br>
  <li class="help-instruction_line font-weight-bold">
    Astuce 1:
  </li>
  <li class="help-instruction_line">
    Vous pouvez régler le style des sous titres dans 'caption settings'.
    N'hésitez pas à le faire, ça améliore grandement le confort de lecture.
  </li>
  <li class="help-instruction_line">
    Mes réglages préférés: 'Text Edge Style' à 'Uniform' et 'Background' à 'Transparent'.
  </li>
  <br>
  <li class="help-instruction_line font-weight-bold">
    Astuce 2:
  </li>
  <li class="help-instruction_line">
    <span>Installez un bloqueur de pubs (c'est pas moi qui met ces conneries de pubs, c'est l'hebergeur des videos).</span>
    <span>Le meilleur d'entre eux est "UBlock Origin", disponible</span>

    <span>ici pour</span>
    <a
      class="help-instruction_link"
      href="https://addons.mozilla.org/fr/firefox/addon/ublock-origin/"
    >
      Firefox
    </a>

    <span>, ici pour</span>
    <a
      class="help-instruction_link"
      href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm?hl=en"
    >
      Google Chrome
    </a>

    <span>, ici pour</span>
    <a
      class="help-instruction_link"
      href="https://www.commentcamarche.net/download/telecharger-34056452-google-chrome"
    >
      Internet Explorer / IEdge
    </a>

    <span>.</span>
  </li>
</ol>
