<div class="container font-size-normal">

  <header class="site-header-container row d-flex flex-column align-items-center">
    {{#if (eq this.route 'home')}}
      <Header />
    {{else}}
      <a href="#/" class="site-header-container_link">
        <Header />
      </a>
    {{/if}}
  </header>

  <main class="site-main-container container-fluid">
    {{#if (eq this.route "home")}}
      <PageHome />
    {{else if (eq this.route "episodes")}}
      <PageEpisodes />
    {{else if (eq this.route "about-show")}}
      <PageAboutShow />
    {{else if (eq this.route "about-site")}}
      <PageAboutSite />
    {{/if}}
  </main>

</div>
