<div class="site-main">
  <TextPage class="text-page col-12 col-md-8" as |tp|>

    <tp.title>C'est quoi cette série ?</tp.title>
    <tp.text>
      The Office c'est un "mockumentary", c'est à dire une oeuvre de fiction / comédie tournée avec les codes d'un documentaire.
      On y suit le quotidien des employés de Dundler Mifflin, une entreprise de distribution de papier.
    </tp.text>

    <tp.title>Héritage</tp.title>
    <tp.text>
      Originaire de Grande Bretagne (la version GB à 2 saisons), la série 'source' connue des adaptations locales: France, Allemagne, Quebec... et US (celle visionnable sur ce site).
    </tp.text>
    <tp.text>
      La version US a brillement réussi à dépasser le modèle original en installant son propre humour et personnages, pour atteindre 9 saisons.
    </tp.text>
    <tp.text>
      C'est là le point délicat pour les nouveaux: sur la première saison (heureusement courte, 6 épisodes), les épisodes sont avant tout la transcription littérale des versions anglaises et en concervent l'humour noir assez acide.
      La série fait rire, choque, mais est marquée d'un certain pessimisme qui peut décourager. Un ton pas tout à fait représentatif des 8 saisons suivantes.
    </tp.text>
    <tp.text>
      A partir de la saison 2 l'écriture US s'affranchit du matériau de base et devient plus optimisme tant dans sa morale que sur le fond de ses personnages.
    </tp.text>

    <tp.title>En conclusion</tp.title>
    <tp.text>
      Si vous commencez la série, allez jusqu'au premiers épisodes de la saison 2 pour vous faire un avis définitif !
    </tp.text>

  </TextPage>
</div>
