<div class="container">
  <div class="content text-normal">
    <div class="title text-huge">
      The Office (US) VOSTFR
    </div>
    <p class="text-normal">
      Un site pour regarder "The Office" en VOSTFR
    </p>
  </div>
  {{outlet}}
</div>
