<div class="container">
  <div class="content text-normal">

    <header class="site-header">

      <h1 class="site-title text-huge font-office">
        The Office (US) VOSTFR
      </h1>

      <h2 class="site-subtitle text-normal">
        Un site pour regarder la série "The Office" en VOSTFR
      </h2>

    </header>

    <main class="site-main">
      {{outlet}}
    </main>

    <footer>
    </footer>

  </div>
</div>
