<nav class="page-links d-flex flex-column align-items-center text-size-large">
  <a href="/about-show" class="page-link -link-about-show cursor-pointer">
    <span class="page-link-text">
      A propos de la série
    </span>
  </a>

  <a href="/episodes" class="page-link -link-episodes cursor-pointer">
    <span class="page-link-text -link-episodes">
      Regarder les épisodes
    </span>
  </a>

  <a href="/about-site" class="page-link -link-about-site cursor-pointer">
    <span class="page-link-text -link-about-site">
      A propos du site
    </span>
  </a>
</nav>
